@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешно сменена парола";
}

<p>
    Вашата парола беше успешно променена. Моля <a asp-page="./Login">кликнете тук</a>, за да влезете в профила си.
</p>
